//- main.pug
extends ../layouts/layout

block main

    if listadoExiste 
        table(class="table")
            thead
                tr
                    th(scope="col")="Nombre producto"
                    th(scope="col")="Precio"
                    th(scope="col")="Foto"
            tbody 
                each producto in productos
                    tr 
                        th(scope="row") #{producto.title}
                        th(scope="row") #{producto.price}
                        th(scope="row") 
                            img(width="50" src=producto.thumbnail alt="not found")
            
  
    else 
        h3(class="alert alert-warning" role="alert")="No hay productos en el listado"




